# Preparation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Собираем данные с Kaggle: <br>
World Happiness [2015-2017](https://www.kaggle.com/unsdsn/world-happiness), [2018](https://www.kaggle.com/njlow1202/world-happiness-report-data-2018)<br>
Kickstarter projects [2014-2019](https://www.kaggle.com/yashkantharia/kickstarter-campaigns)

### Happiness

In [2]:
hap15 = pd.read_csv("./data/2015.csv", index_col='Country')
hap16 = pd.read_csv("./data/2016.csv", index_col='Country')
hap17 = pd.read_csv("./data/2017.csv", index_col='Country')
hap18 = pd.read_csv("./data/WorldHappiness2018_Data.csv", index_col='Country')

In [3]:
hap15.head()

,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
Country,,,,,,,,,,,
Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

GDP per Capita, Family, Life Expectancy, Freedom, Generosity, Trust Government Corruption describe the extent to which these factors contribute in evaluating the happiness in each country.

In [4]:
hap15['Region'] = hap15.Region.astype('category')
hap15.drop(['Standard Error', 'Happiness Rank'], axis=1, inplace=True)
hap15.columns = ['region', 'happiness', 'economy', 'family', 
                 'health', 'freedom', 'trust', 'generosity', 'res']
hap15.sort_index(inplace=True)
hap15.info()

<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, Afghanistan to Zimbabwe
Data columns (total 9 columns):
region        158 non-null category
happiness     158 non-null float64
economy       158 non-null float64
family        158 non-null float64
health        158 non-null float64
freedom       158 non-null float64
trust         158 non-null float64
generosity    158 non-null float64
res           158 non-null float64
dtypes: category(1), float64(8)
memory usage: 11.7+ KB

In [5]:
hap16.head()

,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
Country,,,,,,,,,,,,
Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [6]:
hap16['Region'] = hap16.Region.astype('category')
hap16.drop(['Happiness Rank', 'Lower Confidence Interval', 
           'Upper Confidence Interval'], axis=1, inplace=True)
hap16.columns = ['region', 'happiness', 'economy', 'family', 
                 'health', 'freedom', 'trust', 'generosity', 'res']
hap16.sort_index(inplace=True)
hap16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 157 entries, Afghanistan to Zimbabwe
Data columns (total 9 columns):
region        157 non-null category
happiness     157 non-null float64
economy       157 non-null float64
family        157 non-null float64
health        157 non-null float64
freedom       157 non-null float64
trust         157 non-null float64
generosity    157 non-null float64
res           157 non-null float64
dtypes: category(1), float64(8)
memory usage: 11.6+ KB

In [7]:
hap17.head()

,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
Country,,,,,,,,,,,
Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [8]:
hap17.drop(['Happiness.Rank', 'Whisker.high', 
           'Whisker.low'], axis=1, inplace=True)
hap17.columns = ['happiness', 'economy', 'family', 
                 'health', 'freedom','generosity',  'trust', 'res']
hap17.sort_index(inplace=True)
hap17.info()

<class 'pandas.core.frame.DataFrame'>
Index: 155 entries, Afghanistan to Zimbabwe
Data columns (total 8 columns):
happiness     155 non-null float64
economy       155 non-null float64
family        155 non-null float64
health        155 non-null float64
freedom       155 non-null float64
generosity    155 non-null float64
trust         155 non-null float64
res           155 non-null float64
dtypes: float64(8)
memory usage: 10.9+ KB

In [9]:
hap18.head()

,Rank,Score,GDP_Per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom_To_Make_Life_Choices,Generosity,Perceptions_Of_Corruption,Residual
Country,,,,,,,,,
Finland,1,7.632,1.305,1.592,0.874,0.681,0.192,0.393,2.988
Norway,2,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2.723
Denmark,3,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2.779
Iceland,4,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2.564
Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2.675

In [10]:
hap18.drop('Rank', axis=1, inplace=True)
hap18.columns = ['happiness', 'economy', 'family', 
                 'health', 'freedom', 'generosity', 'trust', 'res']
hap18.sort_index(inplace=True)
hap18.info()

<class 'pandas.core.frame.DataFrame'>
Index: 156 entries, Afghanistan to Zimbabwe
Data columns (total 8 columns):
happiness     156 non-null float64
economy       156 non-null float64
family        156 non-null float64
health        156 non-null float64
freedom       156 non-null float64
generosity    156 non-null float64
trust         155 non-null float64
res           155 non-null float64
dtypes: float64(8)
memory usage: 11.0+ KB

Соберём всё в один df.

In [19]:
hap = pd.concat([hap15, hap16, hap17, hap18], 
                keys=['2015', '2016', '2017', '2018'],
               names=['year', 'country'], sort=False)

hap.index = hap.index.swaplevel('country', 'year')
hap.sort_index(inplace=True)
hap.region = hap.region.ffill()

In [20]:
hap.head()

                                      region  happiness   economy    family  \
country     year
Afghanistan 2015               Southern Asia      3.575  0.319820  0.302850
            2016               Southern Asia      3.360  0.382270  0.110370
            2017               Southern Asia      3.794  0.401477  0.581543
            2018               Southern Asia      3.632  0.332000  0.537000
Albania     2015  Central and Eastern Europe      4.959  0.878670  0.804340

                    health  freedom     trust  generosity       res
country     year
Afghanistan 2015  0.303350  0.23414  0.097190    0.365100  1.952100
            2016  0.173440  0.16430  0.071120    0.312680  2.145580
            2017  0.180747  0.10618  0.061158    0.311871  2.150801
            2018  0.255000  0.08500  0.036000    0.191000  2.232000
Albania     2015  0.813250  0.35733  0.064130    0.142720  1.898940

In [21]:
# индексирование
hap.xs('Russia', level=0, drop_level=False)

                                  region  happiness   economy    family  \
country year
Russia  2015  Central and Eastern Europe      5.716  1.137640  1.236170
        2016  Central and Eastern Europe      5.856  1.232280  1.052610
        2017  Central and Eastern Europe      5.963  1.281778  1.469282
        2018  Central and Eastern Europe      5.810  1.151000  1.479000

                health   freedom     trust  generosity       res
country year
Russia  2015  0.669260  0.366790  0.030050    0.001990  2.273940
        2016  0.589910  0.326820  0.035860    0.027360  2.591150
        2017  0.547349  0.373783  0.032963    0.052264  2.205607
        2018  0.599000  0.399000  0.025000    0.065000  2.117000

In [22]:
# ??? оставить один уровень индекса?
hap.reset_index(level='year')

,year,region,happiness,economy,family,health,freedom,trust,generosity,res
country,,,,,,,,,,
Afghanistan,2015,Southern Asia,3.575,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100,1.952100
Afghanistan,2016,Southern Asia,3.360,0.382270,0.110370,0.173440,0.164300,0.071120,0.312680,2.145580
Afghanistan,2017,Southern Asia,3.794,0.401477,0.581543,0.180747,0.106180,0.061158,0.311871,2.150801
Afghanistan,2018,Southern Asia,3.632,0.332000,0.537000,0.255000,0.085000,0.036000,0.191000,2.232000
Albania,2015,Central and Eastern Europe,4.959,0.878670,0.804340,0.813250,0.357330,0.064130,0.142720,1.898940
...,...,...,...,...,...,...,...,...,...,...
Zambia,2018,Sub-Saharan Africa,4.377,0.562000,1.047000,0.295000,0.503000,0.082000,0.221000,1.749000
Zimbabwe,2015,Sub-Saharan Africa,4.610,0.271000,1.032760,0.334750,0.258610,0.080790,0.189870,2.441910
Zimbabwe,2016,Sub-Saharan Africa,4.193,0.350410,0.714780,0.159500,0.254290,0.085820,0.185030,2.442700
Zimbabwe,2017,Sub-Saharan Africa,3.875,0.375847,1.083096,0.196764,0.336384,0.095375,0.189143,1.597970
Zimbabwe,2018,Sub-Saharan Africa,3.692,0.357000,1.094000,0.248000,0.406000,0.099000,0.132000,1.455000

### Kickstarter

In [14]:
kick = pd.read_csv("./data/Kickstarter_projects_Feb19.csv", index_col='id')

In [15]:
kick.head()

,name,currency,main_category,sub_category,launched_at,deadline,duration,goal_usd,city,state,country,blurb_length,name_length,status,start_month,end_month,start_Q,end_Q,usd_pledged
id,,,,,,,,,,,,,,,,,,,
1687733153,Socks of Speed and Socks of Elvenkind,USD,games,Tabletop Games,2018-10-30 20:00:02,2018-11-15 17:59:00,16.0,2000.00000,Menasha,WI,US,14,7,successful,10,11,Q4,Q4,6061.00000
227936657,Power Punch Boot Camp: An All-Ages Graphic Novel,GBP,comics,Comic Books,2018-08-06 10:00:43,2018-09-05 10:00:43,30.0,3870.99771,Shepperton,England,GB,24,8,successful,8,9,Q3,Q3,3914.50512
454186436,"Live Printing with SX8: ""Squeegee Pulp Up""",USD,fashion,Apparel,2017-06-09 15:41:03,2017-07-09 15:41:03,30.0,1100.00000,Manhattan,NY,US,21,7,successful,6,7,Q2,Q3,1110.00000
629469071,Lost Dog Street Band's Next Album,USD,music,Country & Folk,2014-09-25 18:46:01,2014-11-10 06:00:00,45.0,3500.00000,Nashville,TN,US,15,6,successful,9,11,Q3,Q4,4807.00000
183973060,"Qto-X, a Tiny Lantern",USD,technology,Gadgets,2016-11-28 16:35:11,2017-01-27 16:35:11,60.0,30000.00000,Troy,MI,US,15,4,successful,11,1,Q4,Q1,40368.00000

In [16]:
col_list = ['currency', 'main_category', 'sub_category', 'country', 'status']
for col in col_list:
    kick[col] = kick[col].astype('category')
    
kick.drop(['deadline', 'city', 'state', 'start_Q', 'end_Q'],
          axis=1, inplace=True)

kick['launched_at'] = pd.to_datetime(kick.launched_at)

Используем почти в 2 раза меньше памяти :) <br>
Оставим 2015-2018г (как и happiness)

In [17]:
kick = kick[(kick.launched_at > '2015-01-01') & 
            (kick.launched_at < '2018-12-31')]

In [18]:
kick.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139046 entries, 1687733153 to 2054018879
Data columns (total 14 columns):
name             139046 non-null object
currency         139046 non-null category
main_category    139046 non-null category
sub_category     139046 non-null category
launched_at      139046 non-null datetime64[ns]
duration         139046 non-null float64
goal_usd         139046 non-null float64
country          139046 non-null category
blurb_length     139046 non-null int64
name_length      139046 non-null int64
status           139046 non-null category
start_month      139046 non-null int64
end_month        139046 non-null int64
usd_pledged      139046 non-null float64
dtypes: category(5), datetime64[ns](1), float64(3), int64(4), object(1)
memory usage: 11.4+ MB

# EDA

### Happiness

### Kickstarter